<%= image_tag "#{@entry.city.image}", class: 'city-bg-img' %>

<div id='new_entry' class='new-entry-container'>
  <%= form_for(@entry, html: {method: 'put', class: 'form-horizontal col-sm-offset-2 col-sm-8 new-form'}  ) do |form| %>
    <div class='new-entry-form col-sm-offset-2 col-sm-8'>

      <%= render partial: '/entries/form', object: form %>

      <div class="submit-field">
        <%= form.submit 'Edit Entry', class: 'btn btn-default'%>
        <%= link_to 'Back', city_path(@entry.city_id), class: 'btn btn-default pull-right' %>
      </div>

    </div>
  <% end %>
</div>
