
      <div class="row profile">
        <div class="user-info col-sm-offset-2 col-sm-8">
          <%= image_tag(current_user.image, class: 'user-img') %>
          <h1 class="user-name"><%= current_user.name %> </h1>
          <p class="location">
            <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
            <%= current_user.location %>
          <p class="user-since">
            <span class="glyphicon glyphicon-star"></span>
            MC Elite since: <%= current_user.created_at.strftime("%m/%d/%Y") %>
          </p>
          <br>
          <ul class='city-nav'>
            <li class="city-list"><%= link_to 'San Francisco', '/cities/san-francisco', class: 'city-link' %></li>
            <li class="city-list"><%= link_to 'London', '/cities/london', class: 'city-link' %></li>
            <li class="city-list"><%= link_to 'Gibraltar', '/cities/gibraltar', class: 'city-link' %></li>
          </ul>
        </div>


      </div>

    <div class="entries-container">
      <div class="col-sm-offset-2 col-sm-7 entries">
        <% @records.each do |record| %>
        <div class="container-fluid entry">
          <div class="row ">
            <div class="city-img col-sm-3">
              <%= image_tag(record.image, class: 'city-icon') %>
            </div>
            <div class="entry-text col-sm-8">
              <h3 class="entry-title"><%= link_to record.title,  entry_path(record.id), class: 'entry-title-link' %></h3>
              <p class="entry-body"><%= record.description %></p>
            </div>
          </div>
          <div class="row btn-bar">
            <div class="col-sm-offset-3 col-sm-8">

              <%= link_to edit_entry_path(record.id), class: 'btn btn-default edit-entry' do %>
                <i class='glyphicon glyphicon-pencil'></i>
              <% end %>
              <%= link_to entry_path(record.id), method: :delete, class: 'btn btn-default delete-entry', data: { confirm:'Are you sure you want to delete?' } do %>
                <i class='glyphicon glyphicon-trash'></i>
              <% end %>
              <%= link_to 'Read More',  entry_path(record.id), class: 'btn btn-default read-more' %>

            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
