<section class="city-show-grad">
  <%= image_tag "#{@entry.city.image}", class: 'city-bg-img' %>
  </section>

<div class="entries-container">
  <div class="col-sm-offset-1 col-sm-10 entries">

    <div class="container-fluid entry">
      <div class="row ">
        <div class="city-img col-sm-2">
          <%= image_tag(@entry.user.image, class: 'city-icon') %>
          <p class="author"> <%= @entry.user.name %> </p>
        </div>
        <div class="entry-text col-sm-8">
          <h3 class="entry-title"><%= link_to @entry.title,  entry_path(@entry.id), class: 'entry-title-link' %></h3>
          <p class="entry-body"><%= @entry.description %></p>
        </div>
      </div>
      <div class="row btn-bar">
        <div class="col-sm-offset-2 col-sm-8">
          <% if signed_in? %>
            <%= link_to edit_entry_path(@entry.id), class: 'btn btn-default edit-entry' do %>
              <i class='glyphicon glyphicon-pencil'></i>
            <% end %>
            <%= link_to entry_path(@entry.id), method: :delete, class: 'btn btn-default delete-entry', data: { confirm:'Are you sure you want to delete?' } do %>
              <i class='glyphicon glyphicon-trash'></i>
            <% end %>
          <% end %>
          <%= link_to 'Back',  entries_path, class: 'btn btn-default read-more' %>

        </div>
      </div>
    </div>

  </div>
</div>
