

<section class="top-page">
<div class="bg">
  <%= image_tag "#{@city.image}", class: 'city-bg-img' %>
</div>

<div class="row city-name">
  <div class="col-sm-12">
    <h3 class="city-text"><%= @city.name %></h3>
    <p class="city-text"> <%= @city.country %></p>
  </div>
</div>
</section>


<div class="entries-container">
  <div class="col-sm-offset-1 col-sm-10 entries">
    <h1 class="headline"> Latest Posts
    <%= link_to 'New Post', new_entry_path, class: 'btn btn-default new-post' %>
    </h1>
    <% @records.each do |record| %>
    <div class="container-fluid entry">
      <div class="row ">
        <div class="city-img col-sm-2">
          <%= image_tag "#{record.image}", class: 'prof-icon' %>
        </div>

        <div class="entry-text col-sm-8">
          <h3 class="entry-title"><%= link_to record.title,  entry_path(record.id), class: 'entry-title-link' %></h3>
          <p class="entry-body"><%= record.description %></p>
        </div>
      </div>
      <div class="row btn-bar">


      </div>
    </div>
    <% end %>
  </div>
</div>
